// .mainFeaturesPost {
//   position: relative;
//   color: white;
//   margin-bottom: theme.spacing(4);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }

// .mainFeaturesPostContent {
//   position: relative;
//   padding: theme.spacing(3);
// }
